.btn {
    border: 0;
    background-color: transparent;

    display: flex;
    align-items: center;
    align-content: center;
    width: fit-content;
    cursor: pointer;

    border-radius: .5rem;

    font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);

    background: var(--btn-bg-color);
    color: var(--btn-color);

    --btn-bg-color:  var(--text-color-primary);
    --btn-color: var(--bg-color);
}

.btn:hover {
    --btn-bg-color: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
    --btn-color: var(--surface-color)
}

.btn-sm {
    padding: .5rem 1rem;
    font-size: var(--fs-sm);
}

.btn-md {
    padding: .75rem 1.5rem;
    font-size: var(--fs-base);
}

.btn-lg {
    padding: 1rem 2rem;
    font-size: 1.125rem;
}

.btn[aria-label] {

    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-color: var(--bg-color);
        inset: 0.09375rem;
        border-radius: inherit;
    }

    &::after {
        content: attr(aria-label);
        background: var(--btn-bg-color);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}